'3do': ~
'3ds': ~
'actionmax': ~
'ags': ~
'amiga': ~
'amstradcpc': ~
'apple2': ~
'apple2gs': ~
'arcade': ~
'arcadia': ~
'arduboy': ~
'astrocade': ~
'atari2600': 'ATARI'
'atari5200': 'FIFTYTWOHUNDRED'
'atari7800': 'SEVENTYEIGHTHUNDRED'
'atari800': ~
'atarijaguar': ~
'atarijaguarcd': ~
'atarilynx': 'LYNX'
'atarist': ~
'atomiswave': ~
'c128': ~
'c64': 'COMMODORE'
'cd32': ~
'cdi': ~
'cdtv': ~
'channelf': ~
'coco': ~
'coleco': 'COLECO'
'crvision': ~
'daphne': ~
'dragon32': ~
'dreamcast': ~
'easyrpg': ~
'fba': ~
'fds': 'FDS'
'fm7': ~
'gameandwatch': 'GW'
'gamecom': ~
'gamegear': 'GG'
'gb': 'GB'
'gba': 'GBA'
'gbc': 'GBC'
'gc': ~
'gmaster': ~
'intellivision': ~
'j2me': ~
'love': ~
'macintosh': ~
'mame': 'ARCADE'
'mame-advmame': ~
'mame-libretro': ~
'mame-mame4all': ~
'mastersystem': 'MS'
'megadrive': 'MD'
'megaduck': ~
'moto': ~
'msx': ~
'msx2': ~
'n64': ~
'n64dd': ~
'naomi': ~
'naomi2': ~
'nds': 'NDS'
'neogeo': 'NEOGEO'
'neogeocd': ~
'nes': 'FC'
'ngp': 'NGP'
'ngpc': ~
'openbor': ~
'oric': ~
'palm': ~
'pc': ~
'pc88': ~
'pc98': ~
'pcengine': 'PCE'
'pcenginecd': 'PCECD'
'pcfx': ~
'pico8': 'PICO'
'plus4': ~
'pokemini': ~
'ports': ~
'ps2': ~
'ps3': ~
'ps4': ~
'ps5': ~
'psp': ~
'psvita': ~
'psx': 'PS'
'pv1000': ~
'samcoupe': ~
'saturn': ~
'scummvm': 'SCUMMVM'
'scv': ~
'sega32x': ~
'segacd': 'SEGACD'
'sg-1000': ~
'snes': 'SFC'
'solarus': ~
'steam': ~
'stratagus': ~
'supervision': ~
'switch': ~
'symbian': ~
'ti99': ~
'tic80': ~
'trs-80': ~
'vectrex': 'VECTREX'
'vic20': ~
'videopac': ~
'virtualboy': ~
'vsmile': ~
'wii': ~
'wiiu': ~
'wonderswan': ~
'wonderswancolor': ~
'x1': ~
'x68000': ~
'xbox': ~
'xbox360': ~
'zmachine': ~
'zx81': ~
'zxspectrum': 'ZXS'

