#'megadrive': 'Sonic The Hedgehog (USA, Europe)'
#'mame': 'pacman'
#'gbc': "Legend of Zelda, The - Link's Awakening DX (USA, Europe) (Rev 2) (SGB Enhanced) (GB Compatible)"
#'gamegear': 'Ninja Gaiden (USA, Europe, Brazil) (En)'
#'neogeo': 'mslug3'
#'pcengine': "Parasol Stars - The Story of Bubble Bobble III (USA)"
#'pcenginecd': 'Puyo Puyo CD Tsuu (Japan)'
#'gb': 'Contra - The Alien Wars (USA) (SGB Enhanced)'
#'gba': 'Super Mario Advance 2 - Super Mario World (USA, Australia)'
#'nes': 'Super Mario Bros. 2 (Japan) (En)'
#'mastersystem': 'OutRun (World)'
#'atari2600': 'Space Invaders (USA)'
#'segacd': 'Snatcher (USA)'
#'snes': 'Super Punch-Out!! (USA)'
#'psx': 'PaRappa the Rapper (USA) (En,Fr,De,Es,It)'

'3do': ~
'3ds': ~
'actionmax': ~
'ags': ~
'amiga': ~
'amstradcpc': ~
'apple2': ~
'apple2gs': ~
'arcade': ~
'arcadia': ~
'arduboy': ~
'astrocade': ~
'atari2600': ~
'atari5200': ~
'atari7800': ~
'atari800': ~
'atarijaguar': ~
'atarijaguarcd': ~
'atarilynx': ~
'atarist': ~
'atomiswave': ~
'c128': ~
'c64': ~
'cd32': ~
'cdi': ~
'cdtv': ~
'channelf': ~
'coco': ~
'coleco': ~
'crvision': ~
'daphne': ~
'dragon32': ~
'dreamcast': ~
'easyrpg': ~
'fba': ~
'fds': ~
'fm7': ~
'gameandwatch': ~
'gamecom': ~
'gamegear': ~
'gb': ~
'gba': ~
'gbc': ~
'gc': ~
'gmaster': ~
'intellivision': ~
'j2me': ~
'love': ~
'macintosh': ~
'mame': ~
'mame-advmame': ~
'mame-libretro': ~
'mame-mame4all': ~
'mastersystem': ~
'megadrive': ~
'megaduck': ~
'moto': ~
'msx': ~
'msx2': ~
'n64': ~
'n64dd': ~
'naomi': ~
'naomi2': ~
'nds': ~
'neogeo': ~
'neogeocd': ~
'nes': ~
'ngp': ~
'ngpc': ~
'openbor': ~
'oric': ~
'palm': ~
'pc': ~
'pc88': ~
'pc98': ~
'pcengine': ~
'pcenginecd': ~
'pcfx': ~
'pico8': ~
'plus4': ~
'pokemini': ~
'ports': ~
'ps2': ~
'ps3': ~
'ps4': ~
'ps5': ~
'psp': ~
'psvita': ~
'psx': ~
'pv1000': ~
'samcoupe': ~
'saturn': ~
'scummvm': ~
'scv': ~
'sega32x': ~
'segacd': ~
'sg-1000': ~
'snes': ~
'solarus': ~
'steam': ~
'stratagus': ~
'supervision': ~
'switch': ~
'symbian': ~
'ti99': ~
'tic80': ~
'trs-80': ~
'vectrex': ~
'vic20': ~
'videopac': ~
'virtualboy': ~
'vsmile': ~
'wii': ~
'wiiu': ~
'wonderswan': ~
'wonderswancolor': ~
'x1': ~
'x68000': ~
'xbox': ~
'xbox360': ~
'zmachine': ~
'zx81': ~
'zxspectrum': ~