'nes':
  'Chronicle of the Radia War*': 'Chronicle of the Radia War'
  'Cocoron*': 'Cocoron'
  "Adventure Island IV*": "Adventure Island IV"
  "Bio Miracle Baby Upa*": "Bio Miracle Baby Upa!!"
  "Captain Tsubasa Vol. II*": "Captain Tsubasa Vol. II - Super Striker"
  "Digital Devil Story - Megami Tensei II*": "Digital Devil Story - Megami Tensei II"
  "Digital Devil Story - Megami Tensei*": "Digital Devil Story - Megami Tensei"
  "Door Door*": "Door Door"
  "Downtown Special*": "Downtown Special"
  "Famicom Wars*": "Famicom Wars"
  "Fire Emblem - Shadow Dragon and the Blade of Light*": "Fire Emblem - Shadow Dragon and the Blade of Light "
  "Fire Emblem Gaiden*": "Fire Emblem Gaiden"
  "Ganbare Goemon Gaiden - The Missing Golden Pipe*": "Ganbare Goemon Gaiden - The Missing Golden Pipe"
  "Ganbare Goemon Gaiden 2 - Treasures of the World*": "Ganbare Goemon Gaiden 2 - Treasures of the World"
  "Ganbare Goemon!*": "Ganbare Goemon!"
  "Go for it! Goemon 2*": "Go for it! Goemon 2"
  "Go Go! Nekketu Hockey Club - Multi-Sport Battle*": "Go Go! Nekketu Hockey Club - Multi-Sport Battle"
  "Joy Mech Fight*": "Joy Mech Fight"
  "Kid Niki 2*": "Kid Niki 2"
  "Kid Niki 3*": "Kid Niki 3"
  "Legend of Fuma*": "The Legend of Fuma"
  "The Legend of Fuma*": "The Legend of Fuma"
  "Mitsume ga Tooru*": "Mitsume ga Tooru"
  "Mysterious Murasame Castle*": "The Mysterious Murasame Castle"
  "The Mysterious Murasame Castle*": "The Mysterious Murasame Castle"
  "Nekketsu*": "Nekketsu! Street Basket - Go for it, Dunk Heroes!"
  "Perman - Return the Space Saucer*": "Perman - Return the Space Saucer!"
  "Perman 2*": "Perman 2 - Down with the Secret Madou Society!"
  "Raging Fire - Recca*": "Raging Fire - Recca"
  "Samurai Pizza Cats*": "Samurai Pizza Cats"
  "Splatter House*": "Splatter House - Wanpaku Graffiti*"
  "Super Mario Bros. 2 (Japan)*": "Super Mario Bros. 2"
  "Sweet Home*": "Sweet Home"
  "TwinBee 3 - The Aimless Demon King*": "TwinBee 3 - The Aimless Demon King"
  "Wai Wai World 2*": "Wai Wai World 2 - SOS!! Parsley Castle"
  "Wai Wai World*": "Wai Wai World"
"snes":
  "Fire Emblem - Mystery of the Emblem*": "Fire Emblem - Mystery of the Emblem"
  "Fire Emblem - Seisen no Keifu*": "Fire Emblem - Seisen no Keifu"
  "Fire Emblem - Thracia 776*": "Fire Emblem - Thracia 776"
  "Go for it! Goemon - The Twinkling Journey*": "Go for it! Goemon - The Twinkling Journey - The Reason I became a Dancer"
  "Go for it! Goemon 2*": "Go for it! Goemon 2 - The Strange General McGuinness"
  "Go for it! Goemon 3* ": "Go for it! Goemon 3 - The Mecha Leg Hold of Jurokube Shishi"
  "Gokujou Parodius*": "Gokujou Parodius"
  "Jikkyou Oshaberi Parodius*": "Jikkyou Oshaberi Parodius"
  "King of Demons*": "King of Demons"
  "Magical Pop'n*": "Magical Pop'n"
  "Mystery Dungeon 2*": "Mystery Dungeon 2 - Shiren the Wanderer"
  "Rendering Ranger R2*": "Rendering Ranger R2"
  "Rockman & Forte*": "Rockman & Forte"
  "Shin Megami Tensei II*": "Shin Megami Tensei II"
  "Shin Megami Tensei*": "Shin Megami Tensei"
  "Super Famicom Wars*": "Super Famicom Wars"
  "Taloon's Great Adventure*": "Taloon's Great Adventure - Mystery Dungeon"
  "Violinist of Hameln, The*": "The Violinist of Hameln"
  "The Violinist of Hameln*": "The Violinist of Hameln"
  "Lost Vikings*": "The Lost Vikings"
  "The Lost Vikings*": "The Lost Vikings"
"gamegear":
  "Coca-Cola Kid*": "Coca-Cola Kid"
  "Phantasy Star Gaiden*": "Phantasy Star Gaiden"
"megadrive":
  "Battle Mania Daiginjou*": "Battle Mania: Daiginjou"
  "Dahna - Goddess' Birth*": "Dahna - Goddess' Birth"
  "Ghouls'n Ghosts*": "Ghouls'n Ghosts"
  "Nadia - The Secret of Blue Water*": "Nadia - The Secret of Blue Water"
  "Ooze, The*": "The Ooze"
  "The Ooze*": "The Ooze"
  "Yu Yu Hakusho*": "Yu Yu Hakusho - Makyou Toitsusen"
"psx":
  "Kitchen Panic*": "Kitchen Panic"
  "Rakugaki Showtime*": "Rakugaki Showtime"
  "Sexy Parodius*": "Sexy Parodius"
  "Time Bokan Series - Bokan desu yo*": "Time Bokan Series - Bokan desu yo"
  "Yutona Eiyuu Senki*": "Tear Ring Saga"
'mame':
  'gngt': "Ghosts'n Goblins"
  "guwange": "Guwange"
  "noboranb": "Noboranka"
  "nspirit": "Ninja Spirit"
  "puyopuy2": "Puyo Puyo 2"
  "puyopuy": "Puyo Puyo"
  "valkyrie": "Valkyrie no Densetsu"
"pcengine":
  "Bakushou Yoshimoto Shinkigeki*": "Bakushou Yoshimoto Shinkigeki"
  "Castlevania - Rondo of Blood*": "Castlevania - Rondo of Blood"
  "Circus Lido*": "Circus Lido"
  "Fairytale Dreams of Alice*": "The Fairytale Dreams of Alice"
  "The Fairytale Dreams of Alice*": "The Fairytale Dreams of Alice"
  "Garou Densetsu Special*": "Fatal Fury Special"
  "Gekisha Boy*": "Gekisha Boy"
  "Ginga Fukei Densetsu Sapphire*": "Ginga Fukei Densetsu Sapphire "
  "Hana Taaka Daka*": "Hana Taaka Daka"
  "Makai Prince Dorabocchan*": "Makai Prince Dorabocchan"
  "Mizubaku Daibouken*": "Liquid Kids"
  "Momotarou Katsugeki*": "Momotarou Katsugeki"
  "Nekketsu Koukou Dodgeball-bu - PC Bangai Hen*": "Nekketsu High School Dodgeball Club"
  "Nekketsu Koukou Dodgeball-bu - PC Soccer Hen*": "Nekketsu High School Dodgeball Club – Soccer Story"
  "Puyo Puyo CD*": "Puyo Puyo CD"
  "Salamander*": "Salamander"
  "Seirei Senshi Spriggan*": "Seirei Senshi Spriggan"
  "Valkyrie no Densetsu*": "The Legend of Valkyrie"
  "Aoi Blink*": "Aoi Blink"
  "Ai Chou Aniki*": "Ai Cho Aniki"
  "Chou Aniki*": "Cho Aniki"
"gb":
  "Chalvo 55*": "Chalvo 55"
  "Frog For Whom the Bell Tolls*": "The Frog For Whom the Bell Tolls"
  "The Frog For Whom the Bell Tolls*": "The Frog For Whom the Bell Tolls"
  "Magic Knight Rayearth*": "Magic Knight Rayearth"
  "Noobow*": "Noobow"
  "Painter Momopie*": "Painter Momopie"
"gba":
  "Dragon Quest Monsters - Caravan Heart*": "Dragon Quest Monsters - Caravan Heart"
  "Fire Emblem - The Binding Blade*": "Fire Emblem - The Binding Blade"
  "Goemon - New Age Shutsudou*": "Goemon - New Age Shutsudou!"
  "Rhythm Heaven Silver*": "Rhythm Heaven Silver"
  "Rhythm Tengoku*": "Rhythm Tengoku"
  "Super Robot Taisen R*": "Super Robot Taisen R"
  "Tomato Adventure*": "Tomato Adventure"
"gbc":
  "Hammerin' Harry*": "Hammerin' Harry"
  "Mobile Golf*": "Mobile Golf"
  "Pokemon Trading Card Game 2*": "Pokemon Trading Card Game 2"
  "Shin Megami Tensei Devil Children*": "Shin Megami Tensei: Devil Children"
  "Survival Kids 2*": "Survival Kids 2 - Dasshutsu!! Futago-Jima!"
  "Game & Watch Gallery 3*": "Game & Watch Gallery 3"
  "Super Robot Pinball*": "Super Robot Pinball"