parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
    	- src/Translator/Fuzzy/
    checkMissingIterableValueType: false